DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=llm_ua_clinical
DB_USER=llm_ua_reader
DB_PASSWORD=P@ssw0rd

ELASTICSEARCH_HOME=/home/kchollet/LLM_UA/fhir_karthik/FHIR_COMBINED/elasticsearch-8.14.0
ELASTICSEARCH_URL=https://localhost:9200
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=P@ssw0rd

FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000
NEXT_PUBLIC_LLM_API_BASE=http://localhost:8000

NODE_ENV=development

