DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=llm_ua_clinical
DB_USER=llm_ua_reader
DB_PASSWORD=P@ssw0rd

ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=P@ssw0rd

LLM_MODEL_PATH=/home/kchollet/LLM_UA/fhir_karthik/FHIR_COMBINED/llm_backend/models/llama31-8b-bnb4
LLM_MAX_NEW_TOKENS=800
LLM_TEMPERATURE=0.3
LLM_TOP_P=0.9
LLM_MAX_CONDITIONS=50
LLM_MAX_OBSERVATIONS=100
LLM_MAX_NOTES=3
LLM_MAX_NOTE_CHARS=2500

